
.navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
   min-height: 70px;
  
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
     
  }
   .navbar li:hover{
    border-bottom: green 2px solid;
  
  } 
  .active{
 
    border-bottom: green 2px solid;
  } 
  .brand-title {
    margin-left: 2rem;
    font-weight: bold;
    color: #003072;
  }
  .brand-title a{
    text-decoration: none;
    color: inherit;
}
  .navlinks {
    flex: 1;
  }
  .nav-left {
    display: flex;
    align-items: center;
  }
  .nav-right {
    display: flex;
    align-items: center;
  }
  .navlinks ul {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
  }

  .navlinks li {
    
    margin-left: 20px;
  
  
  }
  .navlinks a {
    text-decoration: none;
    color: #356db7;
  }
  .navlinks li {
    list-style: none;
    font-weight: bold;
   
  }
  
  .menu-icon .icon {
    display: none;
    color: #000;
  }
  
  @media (max-width: 737px) {
    
    .navbar,
    .navlinks ul,
    .nav-left,
    .nav-right {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      
    }
    .navlinks ul{
      justify-content: flex-start;
      
    }
   
    .brand-title {
       position: absolute; 
       left: 3rem;
      top: 1.5rem;
      font-size: larger; 
    }
   
    .navlinks {
      display: none; 
      background-color: #333;
      min-height: 100px;
      width: 100%;  
    }
    .navlinks li{
      color: #fff;
      margin-top: 10px;
    }
    .navlinks a{
      color: #fff;
    }
    .menu-icon .icon {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1.5rem;
      color: #000;
      font-weight: bolder;
      font-size: 25px;
    } 
    .active-icon {
      display: flex;

      margin-top: 4rem;
      min-height: 100%;  
    } 
  }